/* General */


body {
    word-wrap: break-word;
    background-color: rgb(231, 240, 255);
    margin:0%;
    font-family:Verdana;
    height:auto;
    font-size:15px;
}

main{
    height:max-content
}

footer{
    padding-top:20px;
    height:80px;
    background-color: #000000;
    bottom:0;
    width:100%;
    text-align:center;
    color:white;
    font-size:13px;
}

h1{
    font-family: "Arvo";
}

/*Navbar*/

nav{
    height: 60px;
    background-color:black;
    z-index:2000000;
    position: fixed;
    width:100%;
}

.navOption{
    float:right;
    text-decoration:none;
    padding:1.35%;
    font:"arvo";
    color:white;
    font-size:20px;
}

.logo{
    float:left;
    text-decoration:none;
    padding:1.35%;
    font:"arvo";
    color:white;
    font-size:20px;
}

.navOption:hover{
    color:black;
    background-color:white;
}

.navDiv{
    height:60px;
}


/* allreviews */

.headingText {
    position: absolute;
    top: 25%;
    margin-left: 33%;
    color:rgb(255, 255, 255);
    font-size:60px;
    font-family:'Arvo';
    fill: black;
    text-shadow: 2px 2px 2px black;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: black;
}

.websiteDescription{
    text-align:center;
    font-size:22px;
    color:#000000;
    padding:30px;
    font-family: 'Arvo';
}

.allRevGridContainer {
    z-index:0;
    padding:60px;
    min-height:15vh;
}

.allRevGridItem {
    z-index:0;
    background-color:rgb(255, 255, 255);
    margin-left:13%;
    margin-right:13%;
    margin-top:4%;
    margin-bottom:2%;
    padding:80px;
    box-shadow: 1px 0.5px 1px 1px rgb(99, 99, 99);
}

.headingsForToast{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color:rgb(32, 30, 52);
    color:white;
    place-items: center;
    font-size:26px;
    height: fit-content;
    margin-left:10%;
    margin-right:10%;
    font-family:"Arvo";
    padding-left:8%;
}

.headingsImage{
    font-size:0;
}

/* My Reviews */

.myRevGridContainer{
    margin-left:13%;
    margin-right:13%;
    margin-bottom:5%;
    display:grid;
    height:min-content;
    min-height:78vh;
}

.myRevGridItem {
    box-shadow: 1px 0.5px 1px 1px rgb(99, 99, 99);
    display:grid;
    grid-template-columns: 1fr 1fr;
    height:min-content;
    margin-bottom: 2.5%;
    background-color: white;
}

.myRevText{
    padding:30px;
    padding-left:10px;
    inline-size:400px;
    width:400px;
}

.myRevPhoto{
    margin-top:auto;
    margin-bottom:auto;
    font-size:0;
}

.myRevButtons{
    color:white;
    text-decoration:none;
    background-color:#1c1f2a;
    padding:5px;
    font-size:14px;
    border:transparent;
}

.deleteButton{
    color:white;
    text-decoration:none;
    background-color:#d00a0a;
    padding:6px;
    font-size:14px;
    border:transparent;
    margin-top:1%;
}

.myRevButtons:hover{
    color:#1c1f2a;
    background-color:rgb(216, 216, 216) ;
}

.deleteButton:hover{
    color:#ff0000;
    background-color: rgb(245, 245, 245);
}

.noRevGridContainer{
    margin-left:13%;
    margin-right:13%;
    margin-bottom:5%;
    height:min-content;
    height:74vh;
}

.noRevText{
    text-align: center;
    margin-top:35%;
}

/* login signup */

.testGridContainter{
    background-image:url("/static/images/backgroundhope.jpg");
    height:100vh;
}

.testGridItem{
    transform: translateY(20%);
    justify-items:auto;
    margin-left:35%;
    margin-right:35%;
    background:white;
    border-radius:10px;
    box-shadow: 1px 1px 2px 2px rgb(38, 38, 43);
    
}

.innerDiv{
    padding-left:27%;
    padding-top:40px;
    padding-right:27%;
    padding-bottom:50px;
}

.signupButton{
    color: white;
    background-color:#000000;
    padding:10px;
    border:transparent;
}

.signupButton:hover{
    background-color:rgb(183, 183, 183);
    color:black;
}

/*Create reviews*/

textarea {
    resize: none; 
    width: 1000px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    padding-left:0;
}

.selectToast{
    background-color:black;
    color:white;
}

.createRevGridContainer{
    margin-left:13%;
    margin-right:13%;
    margin-bottom:5%;
    height:min-content;
    min-height:74vh;
}

/* Flashes */
.flashes{
    color:white;
    background-color:red;
    padding:7px;
    margin:0%;
    margin-bottom:2%;
}

.editingFlashes{
    color:white;
    background-color:red;
    padding:7px;
    margin-right:82%;
}

/* Admine */

.adminContainer{
    margin-left:13%;
    margin-right:13%;
    margin-bottom:5%;
    min-height:74vh;
}

.adminGroups{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    border: 0.5px solid black;
}

.adminItems{
    padding:25px;
    border: 0.8px solid black;
    text-wrap:inherit;
    max-width:250px;
}

#adminReview{
    max-width:500px;
}

#approveButton{
    color:white;
    text-decoration:none;
    background-color:#20c100;
    padding:5px;
    font-size:14px;
    border:transparent;
    margin-right:10%;
}

#approveButton:hover{
    color:#24da00;
    background-color:rgb(226, 226, 226);
}

/* 404 */

.noPageGridContainer{
    display:grid;
    min-height:78.5vh;
}

.noPageText{
    font-size:30px;
    margin-left:40%;
    margin-top:12%;
}