/* General */


body {
    word-wrap: break-word;
    background-color: rgb(231, 240, 255);
    margin:0%;
    font-family:'calibri';
    height:auto;
}

main{
    height:max-content
}

footer{
    height:40px;
    padding-top:5px;
    background-color: #000000;
    bottom:0;
    width:100%;
    text-align:center;
    color:white;
    font-size:12px;
}

/*Navbar*/

nav{
    height: 60px;
    background-color:black;
    z-index:2000000;
    position: fixed;
    width:100%;
}

.navoption{
    float:right;
    text-decoration:none;
    padding:1.35%;
    font:"arvo";
    color:white;
    font-size:20px;
}

.logo{
    float:left;
    text-decoration:none;
    padding:1.35%;
    font:"arvo";
    color:white;
    font-size:20px;
}

.navoption:hover{
    color:black;
    background-color:white;
}

.navdiv{
    height:60px;
}


/* allreviews */

.headingtext {
    position: absolute;
    top: 25%;
    left: 40%;
    color:rgb(255, 255, 255);
    font-size:40px;
    font-family:'Arvo';
    fill: black;
    text-shadow: 8px 8px 8px black;
}

.website-description{
    text-align:center;
    font-size:14px;
    opacity:75%;
    color:#000000
}

.allRevGridContainer {
    z-index:0;
    padding:60px;
    min-height:15vh;
}

.allRevGridItem {
    z-index:0;
    background-color:rgb(255, 255, 255);
    margin-left:13%;
    margin-right:13%;
    margin-top:4%;
    margin-bottom:2%;
    padding:80px;
    box-shadow: 1px 0.5px 1px 1px rgb(99, 99, 99);
}

.headingsfortoast{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color:rgb(32, 30, 52);
    color:white;
    place-items: center;
    font-size:26px;
    height: fit-content;
    margin-left:10%;
    margin-right:10%;
}

.headingsimage{
    margin-left:auto;
    margin-right:auto;
}

/* My Reviews */

.myRevGridContainer{
    margin-left:13%;
    margin-right:13%;
    margin-bottom:5%;
    display:grid;
    height:min-content;
    min-height:78vh;
}

.myRevGridItem {
    box-shadow: 1px 0.5px 1px 1px rgb(99, 99, 99);
    display:grid;
    grid-template-columns: 1fr 1fr;
    height:min-content;
    padding-bottom:0.5%;
    margin-bottom: 2.5%;
    background-color: white;
}

.myrevtext{
    padding:30px;
    padding-left:10px;
    inline-size:400px;
    width:400px;
}

.myrevphoto{
    width:100px;
    align-items:center;
    justify-content: center;
}

.myrevbuttons{
    color:transparent;
}

 .myRevGridItem:hover .myrevbuttons{
    color:white;
    text-decoration:none;
    background-color:#1c1f2a;
    padding:5px;
    border:transparent;
} 

.norevgridcontainer{
    margin-left:13%;
    margin-right:13%;
    margin-bottom:5%;
    height:min-content;
    height:74vh;
}

.norevtext{
    text-align: center;
    margin-top:35%;
}

/* login signup */

.testgridcontainter{
    background-image:url("/static/images/backgroundhope.jpg");
    height:100vh;
}

.testgriditem{
    transform: translateY(20%);
    justify-items:auto;
    margin-left:35%;
    margin-right:35%;
    background:white;
    border-radius:10px;
    box-shadow: 1px 1px 2px 2px rgb(38, 38, 43);
    
}

.innerdiv{
    padding-left:27%;
    padding-top:40px;
    padding-bottom:50px;
}

.signupbutton{
    color: white;
    background-color:#000000;
    padding:10px;
    border:transparent;
}

.signupbutton:hover{
    background-color:rgb(183, 183, 183);
    color:black;
}

/*Create reviews*/

textarea {
    resize: none; 
    width: 1000px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    padding-left:0;
}

.selecttoast{
    background-color:black;
    color:white;
}

.createRevGridContainer{
    margin-left:13%;
    margin-right:13%;
    margin-bottom:5%;
    height:min-content;
    min-height:74vh;
}