/* General */


body {
    word-wrap: break-word;
    background-color: rgb(252, 252, 252);
    margin:0%;
    font-family:'calibri';
    height:auto;
}

main{
    height:auto;
}


/* allrevs */

.headingtext {
    position: absolute;
    top: 25%;
    left: 40%;
    color:rgb(255, 255, 255);
    font-size:40px;
    font-family:'Arvo';
    fill: black;
    text-shadow: 0.5px 0.5px 1px black;
}

.website-description{
    text-align:center;
    font-size:14px;
    opacity:75%;
    color:#000000
}

footer{
    height:40px;
    padding-top:5px;
    background-color: #000000;
    width:100%;
    position: sticky;
    text-align:center;
    color:white;
    font-size:12px;
}


/*Navbar*/

nav{
    height: 60px;
    background-color:black;
    z-index:2000000;
    position: fixed;
    width:100%;
}

.navoption{
    float:right;
    text-decoration:none;
    padding:1.35%;
    font:"arvo";
    color:white;
    font-size:20px;
}

.logo{
    float:left;
    text-decoration:none;
    padding:1.35%;
    font:"arvo";
    color:white;
    font-size:20px;
}

.navoption:hover{
    color:black;
    background-color:white;
}

/*Create reviews form*/

textarea {
    resize: none; 
    width: 1000px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

/* My Reviews */

.myRevGridContainer {
    padding:60px;
    display:grid;
    grid-template-columns: 1fr 1fr;

}

.myRevGridItem {
    background-color:rgb(255, 255, 255);
    box-shadow: 1px 0.5px 1px 1px rgb(99, 99, 99);
    margin:0px;
    padding:40px;
    height:81vh;

}

.allrevtext{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin:50vh;
    margin-bottom:auto;
}

/* .my_reviews_buttons{
    padding-left:10px;
    color:transparent;
}

.myRevGridItem:hover .my_reviews_buttons{
    color: black;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    margin-right:20px;
    background-color: white;
}  */

/* delete review */

/* .review_delete{
    z-index:0;
    background-color:antiquewhite;
    margin:20px;
    position: relative; 
    top: auto;
    left:auto;
    right:auto;
    width:auto;
    padding:35px;
} */

/* allreviews */

.allRevGridContainer {
    z-index:0;
    padding:75px;
}

.allRevGridItem {
    z-index:0;
    background-color:rgb(255, 255, 255);
    margin:20px;
    padding:40px;
    box-shadow: 1px 0.5px 1px 1px rgb(99, 99, 99);
}

.headingsfortoast{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color:rgb(25, 24, 33);
    color:white;
    place-items: center;
    font-size:26px;
    height: 300px;
}

.headingsimage{
    margin-left:auto;
    margin-right:auto;
}




.testgridcontainter{
    background-image:url("/static/images/backgroundhope.jpg");
    height:100vh;
}

.testgriditem{
    transform: translateY(40%);
    justify-items:auto;
    margin-left:35%;
    margin-right:35%;
    background:white;
    border-radius:10px;
    box-shadow: 1px 1px 2px 2px rgb(38, 38, 43);
    
}

.innerdiv{
    padding-left:60px;
    padding-top:40px;
    padding-bottom:50px;
}

.signupbutton{
    color: white;
    background-color:#000000;
    padding:10px;
    border:transparent;
}

.signupbutton:hover{
    background-color:rgb(183, 183, 183);
    color:black;
}