{% extends 'layout.html' %}
{% block main -%}
<div class="adminContainer">
    <h1>Approvals</h1>
    <div class="adminGroups">
    {% for review in reviews %}
        <div class="adminItems">{{review[1]}}</div>
        <div id="adminReview" class="adminItems">{{review[2]}}</div>
        <form action="/admin" method="post" class="adminItems">
            <input name="review_id" type="hidden" value="{{review[0]}}"></input>
            <input type="submit" name="Update_review" value="Approve" id="approveButton"></input>
            <input type="submit" name="Delete_review" value="Delete" class="deleteButton">
        </form>
    {%- endfor %}
    </div> 
</div>
{%- endblock %}