{% extends 'layout.html' %}
{% block main -%}
    <h1 class="createreviewheading">Create review</h1>
    <form name="Toast Reviewed" method="post">
        <label>Select Toast</label>
        <br>
        <select name="toast_id">
            {% for toast in toasts %}<option value="{{ toast[0] }}" SELECTED>{{ toast[1] }}</option>{% endfor %}
        </select>
        <br>
        <textarea placeholder="write review" name="review" maxlength="800"></textarea>
        <br>
        Review must be under 800 characters
        <input type="submit" value="submit">
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages%}
    <ul class="flashes">
    {% for message in messages%}
    <p>{{message}}</p>
    {%endfor%}
    </ul>
    {%endif%}
    {%endwith%}
{%- endblock %}
