<!DOCTYPE html>
<html>

    <head>
        <title>
            Toast
        </title>
    </head>


    <navbar>
        <div class="navbar">
          </div>
    </navbar>

    <body>
        <header>
            <h1> TOAST</h1>
        </header>

        <nav>
        </nav>

        <main>
            <form name="Toast Reviewed" method="POST">
                <label>Select Toast</label>
                <br>
                <select name="toasts">
                    {% for toast in toasts %}
                        <option value="{{toast[0]}}" SELECTED>{{toast[1]}}</option>
                    {% endfor %}
                </select>
                <br>
                <input type="text" name="review" placeholder="write review">
                <input type="submit" value="submit">
                
            </form>
        </main>

        <footer>
            <p>the footer</p>
        </footer>
    </body>

</html>