{% extends "layout.html" %}
{% block h1 -%}TOAST!!{%- endblock %}
{% block main -%}

This website is for people who love toast and want advice on which toast to try next. There are a lot of options on which Toast is superior ie. Blueberry jam is superior to strawberry jam. It may be difficult to navigate the options but with the help of toast reviews, choices should be made easier.

<h2><a href="/signup" class="headings">Create an account</a></h2>

Make an account today to start your reviewing career and help fellow toast lovers with important decisions. <br>

<br><a href="/signup" class="button" text-decoration="none">Signup</a>

<h2><a href="/login" class="headings">Start writing</a></h2>

Log in and choose from our moderately large collection of toast to write about and critique. Your review may even be featured on the “review of the day”.<br>

<br><a href="/login" class="button">Login</a>
{%- endblock %}