{%extends 'layout.html'%}
{% block headerimage -%}
    <img class="headingimage" height="400px" width="1351px" src="/static/images/please.jpeg" alt="amongus">
    <p class="website-description">This is a website for toast lovers that want to try new spreads or give their take on certain combinations of toast toppings.</p>
    <div class="headingtext" >Read Toast Reviews</div>
{%- endblock %}
{% block main -%}
        <div class="grid-container">
            <div class="signup">
                <h1>Signup and start writing reviews today</h1>
                <p>Click the signup button below to create an account and start writing and posting reviews of toasts in our selection of toasts. Reviews will be reviewed(haha) and then made public if appropriate and can be seen on the 'myreviews' page.</p>
                <a href="/signup" class="homebuttons">Signup</a>
            </div>
            <div class="homesignupimage">
                <img src="/static/images/signuphome.png" width="200px" height="200px" alt="signup">
            </div>
            <div class="homeloginimage">
                <img src="/static/images/loginhome.png" width="180px" height="200px" alt="">
            </div>
            <div class="login">
                <h1>Login</h1>
                <p>Already have an account? Click the button below to view, create, update or delete your reviews.</p>
                <a href="/login" class="homebuttons">Login</a>
            </div>
        </div>
{%- endblock %}