<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Toast Website</title>
        <meta name="description" content="Jessica's website for toast reviews">
        <meta name="keywords" content="toast, review">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Arvo'>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>

    {% if session['username'] %}
        <div class="navdiv">
        <nav>
            <a href="/" class="logo">TOAST</a>
            <a href="/logout" class="navoption">Logout</a>
            <a href="/create_reviews" class="navoption">Create review</a>
            <a href="/my_reviews" class="navoption">My Reviews</a>
            <a href="/" class="navoption">Reviews</a>
        </nav>
        </div>
    {% else %}
        <div class="navdiv">
        <nav>
            <a href="/" class="logo">TOAST</a>
            <a href="/login" class="navoption">Login </a>
            <a href="/signup" class="navoption">Signup </a>
            <a href="/" class="navoption">Reviews</a>
        </nav>
        </div>
    {% endif %}
        <main> 
            {% block main %} 
            {% endblock %}
        </main>

        <footer class="footerdiv">
            <p>&copy;Jessica Fu, 2024</p>
        </footer>
    </body>
</html>