<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Toast Website</title>
        <meta name="description" content="Jessica's website for toast reviews">
        <meta name="keywords" content="toast, review">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Arvo'>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <header>
            <h1>
                <br>
                {% block h1 %}{% endblock %}
            </h1>
        </header>
        <navbar>
            <div>
                <a href="/" id="home_toast">TOAST</a>
                <a href="/create_review" class="object">Create review</a>
                <a href="/reviews" class="object">Reviews</a>
                <a href="/my_reviews" class="object">My Reviews</a>
                <a href="/" class="object">Home</a>
            </div>
        </navbar>

        <main>
            {% block main %} 
            {% endblock %}
        </main>

        {% with messages = get_flashed_messages() %}
        {% if messages%}
        <ul class="flashes">
        {% for message in messages%}
        <p>{{message}}</p>
        {%endfor%}
        </ul>
        {%endif%}
        {%endwith%} 

        <p>
            {% block option %}
            {% endblock %}
        </p>

        <footer>
            <p>Toast website :D</p>
        </footer>
    </body>
</html>