<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Toast Website</title>
        <meta name="description" content="Jessica's website for toast reviews">
        <meta name="keywords" content="toast, review">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Arvo'>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>

        <navbar>
            <div class="navdiv">
                <a href="/" id="nav_toast">TOAST</a>
                <a href="/login" class="object">Login</a>
                <a href="/signup" class="object">Signup</a>
                <a href="/" class="object">Reviews</a>
            </div>
        </navbar>

    {% if session['username'] %}
        <navbar>
            <div class="navdiv">
                <a href="/" id="nav_toast">TOAST</a>
                <a href="/logout" class="object">Logout</a>
                <a href="/create_reviews" class="object">Create review</a>
                <a href="/my_reviews" class="object">My Reviews</a>
                <a href="/" class="object">Reviews</a>
            </div>
        </navbar>
    {% endif %}

        <header>
            {% block headerimage %}
            {% endblock %}
        </header> 

        <main> 
            {% block main %} 
            {% endblock %}
        </main>

        <footer>
            <p>&copy;Jessica Fu, 2024</p>
        </footer>
    </body>
</html>