<!DOCTYPE html>

<head>
  <style>
  </style>

</head>

<navbar>
  <br>{%include 'navbar.html'%}<br>
</navbar>

<body>
  <main>
      <h1>Login</h1>


    {% if session['username'] %}

    You're logged in already!

    Want to log out?
    <a href="/logout">Logout?</a>

    {% else %}

    <form action="/login" method="POST">
      <input type="username" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Log in">
    </form>

    <br>{{error_message}}</br>

    <br>don't have an account?<br>
    <a href="/signup">Sign up</a>

    {% endif %}
</main>

  
</body>
