{% extends 'layout.html' %}
{% block main -%}
{% if session['username'] %}
<div class="noRevGridContainer">
    <div class="allRevGridItem">
    You're logged in already!
    Want to log out?
    <a href="/logout">Logout?</a>
</div>
</div>
{% else %}
<div class="testGridContainter">
    <div class="testGridItem">
        <div class="innerDiv">
        <h1>Login</h1>
        <form action="/login" method="post">
            Username
            <br>
            <input type="username" name="username" minlength=8 maxlength=30>
            <br><br>
            Password
            <br>
            <input type="password" name="password" width="20px">
            <br><br>
            <input type="submit" value="Login" class="signupButton">
            <br>
            <br>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <ul class="flashes">{{ message }}</ul>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <br>
            Don't have an account?
            <a href="/signup">Sign up</a>
        </form>
        </div>
        </div>
    </div>
    {% endif %}
{%- endblock %}