{% extends 'layout.html' %}
{% block h1 -%}{{ username }}'s Reviews{%- endblock %}
    {% block main -%}
    <div class="gridContainer">
        {% for review in reviews %}
        <div class="gridItem">
            {{ review[0] }}
            <br>
            {{ review[1] }}
            <br>
            <a class="my_reviews_buttons" href="/delete_reviews">delete</a><a class="my_reviews_buttons" href="/update_reviews">update</a>
        </div>
        {% endfor %}

        <a href="/logout">logout</a>

    </div>
    {%- endblock %}
