<!DOCTYPE html>
<html>

    <head>
        <title>
            My Site
        </title>

        <style>
            main{
                word-break: break-all;
            }
        </style>
    </head>

    <nav>
        <br>{%include 'navbar.html'%}<br>
    </nav>


    <body>

        <header>
            <h1>{{username}}'s Reviews</h1>
        </header>

        <main>
            {%for review in reviews%}
            <br>{{review[0]}}<br>
            {%endfor%}

            <br>{{success_message}}

            <a href = "/logout">logout</a><br>

            <a href="/delete_reviews">delete a review?</a>
        </main>

        <footer>
            <p></p>
        </footer>
    </body>

</html>