{% extends 'layout.html' %}
{% block h1 -%}{{ username }}'s Reviews{%- endblock %}
    {% block main -%}
        {% for review in reviews %}
            <br>
            {{ review[0] }}
            <br>
            {{ review[1] }}
            <br>
            <a href="/delete_reviews">delete review</a> <a value={{review[2]}}>update</a>
            <br>
        {% endfor %}
        <br>
        {{ success_message }}
        <a href="/logout">logout</a>
        <br>
        <a href="/delete_reviews">delete a review?</a>
    {%- endblock %}

    im trying so hard. 