<!DOCTYPE html>
<html>

    <head>
        <title>
            My Site
        </title>
    </head>

    <body>
        <header>
            <h1> The header</h1>
        </header>

        <nav>
            NAVBAR
        </nav>

        <main>
            {%for review in reviews%}
            <br>{{review[0]}}<br>
            {{review[1]}}<br>
            {{review[2]}}<br><br>
            {%endfor%}
        </main>
        </main>

        <footer>
            <p>the footer</p>
        </footer>
    </body>

</html>