{% extends 'layout.html' %}
<div class="signupgrid">
    {% if session['username'] %}
      You're logged in already!
      Want to log out?
      <a href="/logout">Logout?</a>
    {% else %}
      <div class="signupgridcontainer">
      <div class="signupimage">
          <img width="200px" height="200px" alt="signup" src="/static/images/signup.png">
      </div>
      <div>
      <h1>Signup</h1>
      <form action="/signup" method="post">
          <input type="username" name="username" placeholder="Username">
          <input type="password" name="password" placeholder="Password">
          <input type="submit" value="Sign up">
          <br>
          <br>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
             {% for message in messages %}
                {{ message }}
             {% endfor %}
          {% endif %}
         {% endwith %}
         <br>
         don't have an account?
         <br>
         <a href="/signup">Sign up</a>
      </form>
      </div>
  </div>
</div>
{%endif%}
{% block main -%}

<div class="testgridcontainter">
    <div class="testgriditem">
    <h1>Signup</h1>

    <form action="/signup" method="post">
        Username
        <input type="username" name="username">
        <br><br>
        Password
        <input type="password" name="password" width="20px">
        <br><br>
        <input type="submit" value="Sign up" class="signupbutton">
        <br>
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        {% endif %}
    {% endwith %}
    <br>
    don't have an account?
    <br>
    <a href="/signup">Sign up</a>
    </form>
    </div>
</div>

{%- endblock %}