{% extends 'layout.html' %}
{% block main -%}
{% if session['username'] %}
You're logged in already!
Want to log out?
<a href="/logout">Logout?</a>
{% else %}
<div class="testgridcontainter">
    <div class="testgriditem">
        <div class="innerdiv">
    <h1>Signup</h1>
    <form action="/signup" method="post">
        Username
        <input type="username" name="username">
        <br><br>
        Password
        <input type="password" name="password" width="20px">
        <br><br>
        <input type="submit" value="Sign up" class="signupbutton">
        <br><br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        {% endif %}
    {% endwith %}
    <br><br>
    Already have an account?
    <br>
    <a href="/login">Log in</a>
    </form>
    </div>
    </div>
</div>
{% endif %}
{%- endblock %}