{% extends 'layout.html' %}
{% block h1 -%}Signup{%- endblock %}
{% block main -%}
    <form action="/signup" method="post">
        <input type="username" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Sign up">
    </form>
    <br>
    - password and username must be at least 8 characters and below 20 characters
    <br>
    - password must contain at least one number
    <br>
    <br>
    {{ error_message }}
    <br>
    <br>
    already have an account?
</br>
<a href="/login">Log in</a>
{%- endblock %}
