{% extends 'layout.html' %}
{% block main -%}

    <div class="createRevGridContainer">
    <h1 class="updatereviewheading">Update review</h1>
    <form name="Toast Reviewed" method="post">
        <h3><input name="toast_id" type="hidden" value="{{data[0]}}" >{{data[1]}}</h3>
        <textarea name="review" id="text" maxlength="800">{{data[2]}}</textarea>
        <input type="submit" value="Submit" class="signupbutton">
        <br>
        Review must be under 800 characters
        {% with messages = get_flashed_messages() %}
        {% if messages%}
        <ul>
        {% for message in messages%}
        <p class="editingFlashes">{{message}}</p>
        {%endfor%}
        </ul>
        {%endif%}
        {%endwith%}
    </form>
    </div>
{%- endblock %}

