{% extends 'layout.html' %}
{% block h1 -%}Update review{%- endblock %}
    {% block main -%}

        <script>
            function fetchReview(){
                var e = document.getElementById("review");
                document.getElementById("amongus").value = e.options[e.selectedIndex].getAttribute("review");
            }
        </script>

        <form name="Toast Reviewed" method="post">
            <label>Select Toast</label>
            <br>
            <select id="review" name="toast_id" onchange="fetchReview()">
                {% for toast in toasts %}
                <option value="{{ toast[0] }}" review="{{ toast[2] }}" SELECTED>{{ toast[1] }}</option>
                {% endfor %}
            </select>
            <br>
            <textarea name="review" id="amongus" >{{toasts[-1][2]}}</textarea>
            <br>
            <input type="submit" value="submit">
        </form>

        {{ error_message }}
{%- endblock %}
